@import '../../../styles.scss';

.header-container {
    display: flex;
    flex-direction: row;
    background-color: $darkshade-teal;
    height: 75px;
    align-items: center;
    justify-content: space-evenly;
}

.title {
    width: 85px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    color: $golden-yellow
}

.buttons-container {
    display: flex;
    flex-direction: row;
    margin: 10px;
    height: 50px;
    width: 270px;
    align-items: center;
    justify-content: space-between;

    .login {
        height: 50px;
        width: 85px;
        border: 1px solid $golden-yellow; /* Gold color border */
        font-size: 25px;
        border-radius: 5px;
        background-color: transparent; /* Transparent background */
        color: $golden-yellow; /* Gold color text */
    }
}

